body{
    font-family: 'Ubuntu', sans-serif;
}
nav{
    background-color: black;
    position: relative;
}

.flex-end{
    justify-content: space-between;
}
.left0{
    left: 0;
}
.banière{
    background-image: url("../img/banner-home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0;
    flex-basis: 100%;
    height: 100vh;
}

.icone{
    padding-top: 10%;  
}

.width25{
    width: 25%;
}

.flex{
    display: flex;
}

.width35{
    width: 35%;
}
.width50{
    width: 50%;
}

ul a span{
    display: block;
    text-align: center;
}

.marginleft{
    margin-left: 10%;
}

.marginleft20{
    margin: 0px 0px 0px 195px;
}

.logo-about{
    width: 300px;
}

.carte{
    width: 20%;
    height: 530px;
    display: grid;
    justify-items: center;
}

.color30363b{
    background-color: #30363b;
}

.flexbasis{
    flex-basis: 100%;
}

.white{
    color: #ffffff;
}
.info{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.titre{
    color: #ffffff;
    font-size: 45px;
}

.space-around{
    justify-content: space-around;
}

.btn1{
    background: #ffffff;
    padding: 15px 50px;
    font-size: 20px;
    outline: none;
    line-height: 29px;
}

.paddingbottom35{
    padding-bottom: 35px;
}

.padtop25{
    padding-top: 25px;
}

.fontsize{
    font-size: 35px;
}

.ftsize{
    font-size: 55px;
}

.ftsize30{
    font-size: 30px;
    line-height: 33px;
}

.margright{
    margin-right: 50%;
    right:0
}

span{
    font-size: 12px;
    line-height: 20px;
}

.flex a{
    text-decoration: none;
    color: #ffffff;
    /* display: block; */
    padding: 10px 15px;
}

.imge{
    width: 300px;
}

.btn{
    background: #393a3b;
    color: #ffffff;
    padding: 15px 50px;
    font-size: 20px;
    outline: none;
    line-height: 29px;
}

.font{
    color: #393a3b;
    font-size: 55px;
    line-height: 61px;
    margin-left: 50%;
}

.titre1{
    color: #393a3b;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
}

.info1{
    color: #393a3b;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.paddingt{
    margin-top: 50px;
    margin-left: 400px;
}